<html>
    <head>
        <title>Mobiles</title>
        <meta charset = "utf-8">
	    <meta name="viewport" content="width=device-width">
	    <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h1 class="c1"><b>HappiMobiles Inventory Management System</b></h1><br>
        <h1 style="text-align:center;color:#39ac73"><b>Add New Product</b></h1>
    <center>
        <form action="/AddData" method="POST"><font size="5%">
        <label>Product Id:</label>
        <input type="number" name="pid" placeholder="Enter Product ID"><br><br>
        <label>Product Category :</label>
        <input type="text" name="pcat" placeholder="Enter Product category"><br><br>
        <label>Product Model :</label>
        <input type="text" name="pmodel" placeholder="Enter Product Model"><br><br>
        <label>Product Color :</label>
        <input type="text" name="pcolor" placeholder="Enter Product Color"><br><br>
        <label>Product Stock :</label>
        <input type="number" name="pstock" placeholder="Enter Product Stock"><br><br>
        <label>Product CP :</label>
        <input type="number" name="cp" placeholder="Enter Product CP"><br><br>
        <label>Product SP :</label>
        <input type="number" name="sp" placeholder="Enter Product SP"><br><br>
        <button type="submit" class="button">Submit</button><br> 
        </font></form>
        <a href='/' class="c2">Home Page</a>
    </center>
    
    </body>
</html>